# Ignorar entornos virtuales
.venv/
venv/

# Archivos temporales y de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de configuración de PyCharm
.idea/

# Base de datos local (si usas SQLite)
db.sqlite3

# Archivos de entorno
.env
